.error {
    border-color: #D7797F !important;
    background-color: #F7D7D8 !important;
}
.error:focus {
    border-color: #D7797F !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #D7797F !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #D7797F !important;
}
 .external-content-item-wrap:first-child {
    margin-top: 12px;
}
.external-content-item-wrap {
    border: 1px solid #eee;
    
}
.external-content-item-wrap:nth-child(even) {
    background: #eee;
}
.external-content-item label {
    display: block;
    text-align: right;
    margin-top: 5px;
    font-weight: bold;
}
.external-content-item input[type="text"] {
    width: 100%;
}
.external-content-item a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #444;
    margin-right: 2px;
}
.external-content-new-wrap {
    text-align: right;
}
.hidden {
    display: none;
}
.external-content-notice {
    text-align: left;
    margin: 5px;
    padding: 5px 10px;
    border-left: 4px solid #ddd;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    position: relative;
    background: #fff;
}
.external-content-notice.success {
    border-left-color: #7ad03a;
}
.external-content-notice.danger {
    border-left-color: #c00;
}
.external-content-notice-button {
    outline: none;
    border: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.external-content-notice-button:hover span {
    color: #444;
}
.external-content-notice-button span {
    font-size: 16px;
    color: #b4b9be;
}
.refresh-external-content:focus {
    outline: none;
    box-shadow: none;
}
.oii-hidden { display:none !important; }
.oii-grey-bg { background:#cdcdcd; }
.oii-lightgrey-bg { background:#efefef; }
a.enable-external-content { color:#008800; }