.error {
    border-color: #D7797F !important;
    background-color: #F7D7D8 !important;
}
.error:focus {
    border-color: #D7797F !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #D7797F !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #D7797F !important;
}
.format-replace {
    display: inline-block;
    margin-left: 25px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    padding: 2px 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    font-style: italic;
}
.plugin-footer { margin:20px 15px 0 0; border-top: 1px solid #ccc; text-align: right; padding:8px;}
.plugin-info {  display:inline-block; }
.plugin-link { display:inline-block; margin-left:10px; }
.clear { clear:both; }
